<!doctype html>
<html lang="en">
<head>
    <% include ../views/Templates/head.ejs%>
</head>
<body>
    <% include ../views/Templates/header.ejs%>
</nav>
    <% include ../views/Templates/footer.ejs%>
</body>
</html>