<!doctype html>
<html lang="<!doctype html>">

<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <!-- bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
</head>

<body>

<div class="container" id="logincontainer">
    <div class="col-sm-4 col-md-4 col-md-offset-4">

        <form class="form-inline" id="loginpage" method="post">
            <h2 class="form-signin-heading">SIGN UP</h2>
            <div class="form-group">
                <label for="inputEmail" id="inputlabel">Email</label>
                <input name="useremail" type="email" id="inputEmail" class="form-control" required autofocus>
                <p class="missing-msg">missing email address</p>
            </div>

            <div class="form-group">
                <label id="inputlabel">User Name</label>
                <input name="username" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" id="inputlabel">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control"  required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> REMEMBER
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="loginbtn" type="submit">Sign up</button>
        </form>
    </div>
</div> <!-- /container -->

<script src="./javascripts/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
    src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
</script>

<script>

//    $(document).ready(function(){
//     $('#loginbtn').click(function(){
//        $.ajax({
//            url:'/validate',
//            type:'POST',
//            timeout:5000,
//            cache:false,
//            dataType: "json"
//        })
//    })
//
//    });



</script>
</body>

</html>